.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 40px 20px;
  padding: 25px 10%;
}

@media (min-width: 800px) {
  .games-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.game-card {
  position: relative;
  background: #fcfcfc;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: visible;
  z-index: 1;
}

.game-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  max-width: 400px;
}

.top-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  background-color: #F1A208;
  color: #fcfcfc;
  border-radius: 10px;
  z-index: 21;
}

.new-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: #8DC63F;
  color: #fcfcfc;
  border-radius: 10px;
  z-index: 21;
}

.badge {
  font-size: 0.85rem;
  padding: 0.25em 0.5em;
  font-weight: 800;
}

/* Tooltip */
.game-card::after {
  content: attr(data-name);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #373737;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  font-size: 14px;
  z-index: 10;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card:hover::after {
  opacity: 1;
}

.play-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #8dc63f;
  color: #fcfcfc;
  font-weight: bold;
  padding: 8px 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.game-card:hover .play-banner {
  opacity: 1;
  transform: translateY(0);
}

.jackpot-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #373737BB;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 6px 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 20;
  font-size: 1.25rem;
}
